@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?pqj4lo');
    src:  url('../fonts/icomoon.eot?pqj4lo#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?pqj4lo') format('truetype'),
      url('../fonts/icomoon.woff?pqj4lo') format('woff'),
      url('../fonts/icomoon.svg?pqj4lo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  li {
      list-style: none;
  }

  em,
  i {
      font-style: normal;
  }
  img {
      border: 0;
      vertical-align: middle;
  }
  input,
  button {
      outline: none;
      border: 0

  }